.parallex {
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/intro-carousel/pexels-atbo-245240.jpg")no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 40px;
    height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
  }
  .parallex1{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/pexels-pew-nguyen-244133.jpg")no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 40px;
    height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
  }
  .parallex2{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/intro-carousel/pexels-pew-nguyen-244133.jpg")no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 40px;
    height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
  }
  .header-bar{
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
.text-bar{
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
.hr_bar{
  border: solid 2px;
  width: 90%;
  margin: auto;
}
element.style {
  width: 140px;
}
.txt_about{
  font-size: 30px;
  font-family: 'Libre Baskerville', serif;
}
